@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ffa500;
    --sky: #c3ebfa;
    --main-text: #9ca3af;
    --second-text: #6b7280;
}

@layer utilities {
    .nav-link {
        @apply flex items-center justify-center lg:justify-start gap-4 text-gray-500 py-2 md:px-2 rounded-md transition-all duration-500;
    }

    .nav-link:hover {
        @apply bg-primary text-white ;
    }

    .btn-sort {
        @apply p-2 flex items-center justify-center rounded-md bg-primary cursor-pointer transition-all duration-500 border border-primary
    }

    .btn-sort:hover {
        @apply bg-transparent text-primary
    }
    .calendar-article {
        .react-calendar {
        @apply py-2 px-4 w-full rounded-md bottom-2 border-primary;
        }
        .react-calendar__tile--active:enabled:hover,
        .react-calendar__tile--active:enabled:focus,
        .react-calendar__tile--active {
            @apply bg-primary text-white ;
        }
        .react-calendar__tile--now {
            @apply bg-customSky
        }
        button {
            @apply rounded-lg
        }
    }
}



